@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.navlink {
  font-weight: 600;
  color: #acacac;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.1s ease-out;
}

.navlink:hover {
  scale: 105%;
  color: #fff;
}

.active {
  background-color: #c084fc;
  color: #121212;
}

.active:hover {
  background: #d8b4fe;
  color: #121212;
}
